
<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body>
    
    <%- include('navbar', {
        home: false,
        user: user
    }); %>

    <%= typeof error == 'undefined' ?  '' : error %>

    <div class="movies">
        <div class="search">
            <form action="/movies" method="POST">
                <input name="search" type="search" placeholder="Search for a movie!">
                <button>Search</button>
            </form>
        </div>

        <% if(typeof search == 'undefined') { %> 
            <p class="head">My Movies</p>
        <% } else { %>
            <p class="head">Results</p>
        <% } %> 

        <div class="myMovies">

            <% userMovies.forEach(movie => { %>
                <div class="movie">
                    <img src="http://image.tmdb.org/t/p/w92/<%= movie.poster %>">
                    <p><%= movie.title %></p>
                    <form action="/movies/delete" method="POST">
                        <input type="hidden"  name="id" value="<%= movie.id %>">
                        <button>Delete</button>
                    </form>
                </div>
            <% }); %>
            
        </div>

        <div class="results">
            
            <% movies.forEach(movie => { %>
                <div class="result" id="<%= movie.id %>">
                    <img src="http://image.tmdb.org/t/p/w92/<%= movie.poster_path %>">
                    <p><%= movie.original_title %></p>
                </div>
            <% }); %>
           
        </div>

        <% if (typeof search != 'undefined') { %>
            <form action="/movies/add" method="POST">
                <input name="id" type="hidden" value="1">
                <button>Add Movie</button>
            </form>
        <% } %>

    </div>

    <%- include ('jquery'); %>

</body>
</html>


