<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body>
    
    <%- include('navbar', {
        home: false,
        user: user
    }); %>


    <div class="profile">
        <div class="left">
            <img class="profile-image" src="<%= user.image %>" referrerpolicy="no-referrer">
            <p class="name"><%= user.username %></p>
            <a href="/auth/logout">Logout</a>
        </div>
        <div class="right">
            <div class="movies">
                <p>My Movies</p>
                <div class="list">
                    
                </div>
            </div>
        </div>
    </div>
    <%- include('jquery');%>
</body>
</html>

